.player {
    width: 90%;
}
.player-cover {
    display: none;
}

.player .player-control .controls {
    display: block;
}

.player .player-control .music-info .title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
}

.player .player-control .music-info .artist {
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.player .player-control .controls {
    display: block;
    width: 200px;
    margin: 20px auto;
}

.player .player-control {
    flex: 1 1;
    background: #fafafa;
}
